SUBTITLE_EXTRACTOR_HOST=127.0.0.1
SUBTITLE_EXTRACTOR_PORT=8011
SUBTITLE_EXTRACTOR_BACKEND=whisper
SUBTITLE_EXTRACTOR_MODEL=/home/simon/models/whisper-large-v3
SUBTITLE_EXTRACTOR_DEVICE=cuda:0
SUBTITLE_EXTRACTOR_DTYPE=float16
SUBTITLE_EXTRACTOR_ATTENTION=sdpa
SUBTITLE_EXTRACTOR_LANGUAGE=english
SUBTITLE_EXTRACTOR_TASK=transcribe

SUBTITLE_EXTRACTOR_INPUT_DIR=/home/simon/modeling-video
SUBTITLE_EXTRACTOR_DATA_DIR=/home/simon/subtitle-output
SUBTITLE_EXTRACTOR_MEDIA_EXTENSIONS=.mp4,.mkv,.mov,.webm,.m4v,.avi
SUBTITLE_EXTRACTOR_FILE_SETTLE_SECONDS=60
SUBTITLE_EXTRACTOR_MAX_ATTEMPTS=3
SUBTITLE_EXTRACTOR_STALE_LOCK_SECONDS=3600
SUBTITLE_EXTRACTOR_PROFILE_VERSION=1

SUBTITLE_EXTRACTOR_FFMPEG_PATH=ffmpeg
SUBTITLE_EXTRACTOR_FFMPEG_CHUNK_SECONDS=600
